html,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: serif;
  background-color: #333;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
#container {
  margin: auto;
  position: relative;
  background-color: #555;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
#menu {
  color: #FFF;
  background:rgba(255, 255, 255, 0.3);
  position: absolute;
  display: none;
  z-index: 1000;
}
.tile {
  background-color: #CCC;
  background-image: linear-gradient(135deg, #777, #888);
  float: left;
  text-align: center;
  font-weight: 700;
  cursor: pointer;

}
.bomb {
  background-color: #000;
  background-image: radial-gradient(circle at 60% 40%, #999, #000 40%, #666 90%, #F00);
}
#time,
#flags,
#reset {
  color: #FFF;
  position: absolute;
  top: 0;
}
#flags {
  right: 0;
}
#reset {
  cursor: pointer;
}
.flag {
  text-align: center;
  color: #EEE;
  font-weight: 300;
  background-color: #F00;
  position: relative;
}
.flag:after {
  content: '';
  border-right-color: #630;
  border-right-style: solid;
  position: absolute;
  right: 0;
}
